In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('anew2017_data.csv', usecols = [0,2,3,4,5,6,7])

In [3]:
df.head()

,word,valence,valence_sd,arousal,arousal_sd,dominance,dominance_sd
0,abandon,2.36,1.65,4.66,2.61,3.45,2.44
1,abduction,2.76,2.06,5.53,2.43,3.49,2.38
2,able,6.74,2.00,4.30,2.17,6.83,2.04
3,abortion,3.50,2.30,5.39,2.80,4.59,2.54
4,abrupt,4.22,1.50,4.95,2.16,4.78,1.88

In [4]:
df.set_index('word', inplace=True)
rating_matrix = df.T.to_dict(orient='list')

In [10]:
words = ['zeal', 'revere', 'kill', 'injury']
for word in words:
    if word in rating_matrix:
        print (rating_matrix[word], word)

[6.15, 1.66, 5.41, 1.6, 5.52, 1.5] zeal
[5.45, 2.05, 4.29, 2.09, 5.04, 1.79] revere
[2.11, 1.54, 5.65, 3.05, 4.92, 2.81] kill
[2.49, 1.76, 5.69, 2.06, 3.57, 1.62] injury

In [7]:
df.loc['zeal']

valence         6.15
valence_sd      1.66
arousal         5.41
arousal_sd      1.60
dominance       5.52
dominance_sd    1.50
Name: zeal, dtype: float64